<h1>MY DASHBOARD</h1>

<div class="card-product">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar-large", alt: "avatar-large" %>
  <div class="card-product-infos">
    <h2><%= @user.name %></h2>
    <h3><%= @user.email %></h3>
  </div>
</div>

