.main-container {
  min-height: calc(100vh - 140px);
}


h1, h2, h3, h5 {
  font-family: 'Orelega One', cursive;
  margin-bottom: 20px
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

.login-container {
  width: 400px;
}

.container h1 {
  font-size: 30px;
}